* {
    box-sizing: border-box;
}

html {
    background-color : #ffd700;
}

p {
    text-align: center;
}

.h-container {
    background-color: #ffd700;
}

.text {
    font-family : 'IBM Plex Mono', monospace;
    font-size: 1em;
    margin-top : 10px;
}

.text-header {
    font-weight : 700;
    font-size : 1.2em;
}

.h-container {
    width : 100%;
    height : 100%;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
    #logo-new {
        display : block;
        margin : 120px auto 20px auto;
        width : 80%;
    }
}
  
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
    /* Styles */
    #logo-new {
        display : block;
        margin : 120px auto 20px auto;
        width : 80%;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    /* Styles */
    #logo-new {
        display : block;
        margin : 120px auto 20px auto;
        width : 80%;
    }

    .text {
        font-family : 'IBM Plex Mono', monospace;
        font-size: 1.5em;
        margin-top : 10px;
    }

    .text-header {
        font-weight : 900;
        font-size : 2em;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
    #logo-new {
        display : block;
        margin : 120px auto 20px auto;
        width : 80%;
    }

    .text {
        font-family : 'IBM Plex Mono', monospace;
        font-size: 1.5em;
        margin-top : 10px;
    }

    .text-header {
        font-weight : 900;
        font-size : 2em;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
    /* Styles */

    #logo-new {
        display : block;
        margin : 150px auto 20px auto;
        width : 30%;
    }
}
